.list-product-icon{
    width: 25px;
    height:25px;
    margin:5px;
    background-color: white;
    border-radius: 10px;
  }
  .list-product{
    display:flex; 
    align-items: center;
    background-color: rgba(70,70,70,255);
    padding: 10px;
  
  }
  .list-product-title{
    color: white;
    margin:0;
  }
  .product-ul{
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 320px; /* Chiều cao tối đa tương ứng với 8 item */
    overflow-y: auto;
  
  }
  /* Custom scrollbar for webkit browsers (Chrome, Safari, Edge) */
  .product-ul::-webkit-scrollbar {
    width: 4px; /* Độ rộng của thanh cuộn */
  }
  
  /* Track of the scrollbar */
  .product-ul::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Màu nền của track */
    border-radius: 10px; /* Làm bo góc */
  }
  
  /* Thumb (the scrolling handle) */
  .product-ul::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu của thanh cuộn */
    border-radius: 10px; /* Bo góc cho thanh cuộn */
  }
  
  /* Hover effect for scrollbar thumb */
  .product-ul::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Màu khi hover vào thanh cuộn */
  }
  
  .product-item{
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.418);
  }
  .product-item:hover{
    background-color: #888;
    color: white;
  }
  .product-item:first-child {
    box-shadow: 0 -2px 0 rgba(120, 202, 100, 1);
  }
  .product-item:last-child {
    border-bottom: none;
  }
  .all-product{
    border: 1px solid rgba(196, 196, 196, 0.418);
    margin: 0 0 20px 0;
  }
  .support-box{
  margin: 50px 0;
  display:block;
  border: 1px solid rgba(196, 196, 196, 0.418);
  }
  .support-title{
    background-color: rgba(120, 202, 100, 1);
    color:white;
    padding: 20px;
  }
  .support-image{
    width: 24px;
    height:24px;
    margin:5px;
  }
  .support-data{
    padding: 5px 0;
    display:flex;
    margin: 15px;
    align-items: center;
  }
  .support-data:first-child{
    padding-top: 15px;
  }
  .support-tt{
    margin-left: 15px;
  }
  .previous-icon{
    width: 20px;
    height:20px;
  }
  .next-icon{
    width: 20px;
    height:20px;
    
  }
  .next{
    padding: 5px;
    border: 1px solid rgba(196, 196, 196, 0.418);
    margin: 5px;
  }
  .previous{
    padding: 5px;
    border: 1px solid rgba(196, 196, 196, 0.418);
    margin: 5px;
  }
  .news-box{
    width: 100%;
  }
  .news-box-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(196, 196, 196, 0.418);
  }
  .news-title{
    margin:0;
    padding: 10px 20px 11px 20px ;
    border-bottom: 1px solid rgba(120, 202, 100, 1);
  }
  .post-box{
    padding: 30px 0 ;
  }
  .post-image{
    width:100%; 
    height:auto;
    object-fit: cover;
  }
  .post-title{
    text-transform: uppercase;
    padding: 10px 0;
  }
  .post-describe{
    padding: 10px 0;
  }

  .sale-image{
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .nav-head {
    width: 100%;
    height: 200px;
    border: none;
    display: block;
    overflow: hidden; 
  }
  .footer-bottom{
    width: 100%;
    height: 360px;
    border: none;
    display: block;
    overflow: hidden;
  }
  .new-bottom{
    width: 100%;
    height: 900px;
    border: none;
    display: block;
    overflow: hidden;
  }
  .item-box-col.col-md-4{
    width: 33.33%;
    height: 2000px;
    border: none;
    display: block;
    overflow: hidden;
  }
  .body.row{
    margin: 20px 0;
  }
  
  .banner-home{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .box-product{
    margin: 40px 0;
  }
  .hot-products{
    border-top: 1px solid  rgba(196, 196, 196, 0.418);
  }
  .hot-products-box.row{
    margin: 30px 0;
  
  }
  .hot-products-title{
    padding: 10px 5px 15px 5px;
    border-bottom: 1px solid rgba(120, 202, 100, 1) ;
    width: max-content;
    margin: 0;
    text-transform: uppercase;
  }
  .col-md-3.hot-products-item{
    padding: 10px;
    border: 1px solid  rgba(196, 196, 196, 0.418);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    margin: 0 10px; /* Adjust the margin */
    width: calc(25% - 20px);
  }
  .col-md-3.hot-products-item:first-child{
    margin-left: 0;
  }
  
  .col-md-3.hot-products-item:last-child{
    margin-right: 0;
  }
  .hot-products-item-image{
    width: 100%;
    height: 190px;
    object-fit: cover;
    padding: 15px;
   
  }
  .hot-products-item-title{
    text-align: center;
    text-transform: uppercase;
  }
  .hot-products-item-price{
    text-align: center;
    font-weight: 500;
    color:rgba(120, 202, 100, 1)
  }
  .btn-hot-products-item{
    margin: 15px auto 0;
    padding: 5px 15px;
    border: 1px solid rgba(196, 196, 196, 0.418);
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 500;
  }
  .banner-bottom-image{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .col-md-3.footer-item{
    padding: 20px;
  }
  .total-amount{
    display:flex;
    margin-top: 60px;
  }
  .total-amount-title{
    margin-right: 5px;
  }
  .cart{
    margin-top: 30px;
  }
  .table.table-bordered.cart-table{
    border: 1px solid white;
  }
  .menu-cart{
    border: none;
  }
  .total-amount-price{
    color:rgb(167, 17, 17);
  }
  .btn-box-cart{
    display:flex;
    justify-content: space-between;
  }
  .btn.btn-success{
  background-color: rgb(42, 190, 5);
  border:none;
  }
  .btn.btn-danger{
    background-color: rgb(167, 17, 17);
    border:none;
  }
  .product-details-content.row{
  margin:20px 0;
  padding: 20px 0;
  background-color: #f7f7f7;
  }
  .col-md-6.product-box-item{
    padding: 20px;
  }
  #product-image{
    width: 400px;
    height:auto;
    object-fit: cover;
  }
  .box-inventory{
    padding: 10px 0;
    display:flex;
    justify-content: space-between;
    margin: 15px 0 0 0;
  }
  .box-btn-product{
    padding: 10px 0;
    display:flex;
    justify-content: space-between;
  }
  #buy-now{
    background-color: rgba(118, 211, 94);
    color:white;
    width: 50%;
    margin: 0 5px;
    border-radius: 10px;
  }
  #product-price{
    color:rgb(33, 126, 10);
    margin-top: 10px;
    font-weight:bold;
  }
  #add-to-cart{
    background-color: rgb(118, 211, 94);
    margin: 0 5px;
    color:white;
    border: 1px solid rgba(118, 211, 94);
    width: 50%;
    border-radius: 10px;
  }
  #product-sold{
    font-weight: 500;
  }
  #product-inventory{
    font-weight: 500;
  }
  .capacity-option, .color-option {
    background-color: #f0f0f0; /* Màu nền mặc định */
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
  }
  
  .capacity-option.selected, .color-option.selected {
    background-color: #6d6d6d; /* Màu nền khi được chọn */
    color: white; /* Màu chữ khi được chọn */
  }
  .detailed-information{
    display:flex;
    justify-content: space-between;
  }
  .detailed-information ul li{
  list-style: none;
  }
  .detailed-information ul{
  padding:0;
  }
  .pagination {
    margin-top: 20px;
    text-align: center;
  }
  
  .page-btn {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
  }
  
  .page-btn:hover {
    background-color: #ddd;
  }
  .new-products-box.row{
    margin: 30px 0;
  }
  .col-md-3.new-products-item{
    padding: 10px;
    border: 1px solid  rgba(196, 196, 196, 0.418);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    margin: 0 10px; /* Adjust the margin */
    width: calc(25% - 20px);
  }
  .col-md-3.new-products-item:first-child{
    margin-left: 0;
  }
  
  .col-md-3.new-products-item:last-child{
    margin-right: 0;
  }
  .new-products-item-image{
    width: 100%;
    height: 190px;
    object-fit: cover;
    padding: 15px;
   
  }
  .new-products-item-title{
    text-align: center;
    text-transform: uppercase;
  }
  .new-products-item-price{
    text-align: center;
    font-weight: 500;
    color:rgba(120, 202, 100, 1)
  }
  .row{
    margin: 20px 0;
  }
  .capacity-option.active{
    background-color: #868686;
    color:#ffffff
  }
  .color-option.active{
    background-color: #868686;
    color:#ffffff
  }
  #quantity{
    margin: 10px 5px 10px 25px;
    padding: 5px;
    width: 100px;
    border: 1px solid rgba(192, 192, 192, 0.671);
    border-radius: 5px;
  
  }
 
  .description-box{
    font-size: 80%;
  }
  .description-box-title{
    font-size: 100%;
    font-weight: 500;
  }